#  <center> Data selection, transformation, simple cleannig, feature engineering, etc  <center>

# 1 -  Import Libraries

In [1]:
import numpy as np 
import pandas as pd

# 1 - Load the data

In [2]:
listings = pd.read_csv("../input/airbnb_052020_listings.csv", dtype={'zipcode':np.string_, 
                                                            'weekly_price':np.string_, 
                                                            'monthly_price':np.string_})

# 2 - Quick look

In [10]:
listings.head()

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
2577,https://www.airbnb.com/rooms/2577,20200510041557,2020-05-12,Loft for 4 by Canal Saint Martin,"100 m2 loft (1100 sq feet) with high ceiling, ...",The district has any service or shop you may d...,"100 m2 loft (1100 sq feet) with high ceiling, ...",none,NaN,NaN,...,t,f,strict_14_with_grace_period,f,f,1,1,0,0,0.06
3109,https://www.airbnb.com/rooms/3109,20200510041557,2020-05-13,zen and calm,Appartement très calme de 50M2 Utilisation de ...,I bedroom appartment in Paris 14,I bedroom appartment in Paris 14 Good restaura...,none,Good restaurants very close the Montparnasse S...,NaN,...,f,f,flexible,f,f,1,1,0,0,0.22
5396,https://www.airbnb.com/rooms/5396,20200510041557,2020-05-13,Explore the heart of old Paris,"Cozy, well-appointed and graciously designed s...","Small, well appointed studio apartment at the ...","Cozy, well-appointed and graciously designed s...",none,"You are within walking distance to the Louvre,...",The staircase leading up to the apartment is n...,...,t,f,strict_14_with_grace_period,f,f,1,1,0,0,1.66
7397,https://www.airbnb.com/rooms/7397,20200510041557,2020-05-13,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !",PLEASE ASK ME BEFORE TO MAKE A REQUEST !!! No ...,"VERY CONVENIENT, WITH THE BEST LOCATION ! PLEA...",none,NaN,Important: Be conscious that an apartment in a...,...,f,f,moderate,f,f,5,5,0,0,2.42
7964,https://www.airbnb.com/rooms/7964,20200510041557,2020-05-12,Large & sunny flat with balcony !,Very large & nice apartment all for you! - Su...,hello ! We have a great 75 square meter apartm...,Very large & nice apartment all for you! - Su...,none,NaN,NaN,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.05

In [4]:
listings.shape

(66900, 24)

In [8]:
# type des données
listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66900 entries, 2577 to 43397586
Columns: 105 entries, listing_url to reviews_per_month
dtypes: float64(22), int64(20), object(63)
memory usage: 54.1+ MB

# 3 - Data Cleaning & Transformation

In [7]:
listings.zipcode.value_counts()[:20]

75018      3722
75018.0    3664
75011      3313
75011.0    3116
75015.0    2517
75015      2421
75010.0    2338
75010      2332
75017.0    2311
75017      2086
75020      1978
75020.0    1871
75019      1839
75019.0    1796
75009.0    1750
75003.0    1592
75003      1473
75009      1446
75012      1342
75002.0    1318
Name: zipcode, dtype: int64

## Attribut : property_type & host_identity_verified

In [6]:
listings['property_type'].value_counts()

Apartment             59939
Condominium            2036
Boutique hotel         1532
Loft                   1219
House                   476
Serviced apartment      311
Hotel                   307
Townhouse               251
Aparthotel              231
Bed and breakfast       157
Hostel                  115
Guesthouse               95
Other                    86
Guest suite              45
Tiny house               32
Villa                    22
Boat                     13
Houseboat                 8
Bungalow                  3
Nature lodge              3
Earth house               3
Barn                      2
Cabin                     2
Dome house                2
Cottage                   2
Cave                      2
Dorm                      1
Campsite                  1
Farm stay                 1
Igloo                     1
Island                    1
Plane                     1
Name: property_type, dtype: int64

In [7]:
# On ne considère que des appartements 
listings = listings[listings['property_type'] == 'Apartment'].drop('property_type', axis=1)

In [8]:
listings.shape

(59939, 23)

In [9]:
#Valeurs manquantes
listings.isna().sum()

host_is_superhost               9
host_total_listings_count       9
host_verifications              0
neighbourhood_cleansed          0
zipcode                      2224
latitude                        0
longitude                       0
is_location_exact               0
room_type                       0
bathrooms                      48
bedrooms                      140
beds                          204
bed_type                        0
amenities                       0
accommodates                    0
price                           0
minimum_nights                  0
maximum_nights                  0
calendar_updated                0
calendar_last_scraped           0
instant_bookable                0
cancellation_policy             1
availability_365                0
dtype: int64

## Attribut : bedrooms

In [10]:
listings[listings['bedrooms'].isna()]['accommodates'].value_counts()

2    106
4     14
1     11
3      9
Name: accommodates, dtype: int64

 - C'est essentiellement des appartements avec accommodates = 2

In [11]:
listings.groupby('accommodates')['bedrooms'].median()

accommodates
1     1.0
2     1.0
3     1.0
4     1.0
5     2.0
6     2.0
7     3.0
8     3.0
9     3.0
10    4.0
11    3.0
12    4.0
13    4.0
14    4.0
15    4.0
16    4.5
17    5.0
19    6.0
22    5.0
Name: bedrooms, dtype: float64

 - Il semble bien qu'on peut remplacer bedrooms par 1

In [12]:
listings['bedrooms'] = listings['bedrooms'].map(lambda x: 1 if np.isnan(x) else x)

## Attribut : bed_type

In [13]:
listings.bed_type.value_counts()

Real Bed         57257
Pull-out Sofa     2072
Couch              405
Futon              190
Airbed              15
Name: bed_type, dtype: int64

- Couch, Futon et Airbed son rares --> on les regroupe dans Other

In [14]:
listings['bed_type'] = listings['bed_type'].map({'Real Bed':'Bed', 
                                                 'Pull-out Sofa':'Sofa',
                                                 'Couch':'Other',
                                                 'Futon':'Other',
                                                 'Airbed':'Other'})

In [43]:
listings.bed_type.value_counts()

Bed      57257
Sofa      2072
Other      610
Name: bed_type, dtype: int64

## Attribut : beds

In [16]:
listings[listings.beds.isna()]['bedrooms'].value_counts()

1.0    173
0.0     18
2.0      8
3.0      3
4.0      2
Name: bedrooms, dtype: int64

- C'est essentiellement des appartements avec bedrooms = 1

In [17]:
listings[~listings.beds.isna()].groupby(['bedrooms'])[['beds','accommodates']].median()

          beds  accommodates
bedrooms
0.0        1.0             2
1.0        1.0             2
2.0        2.0             4
3.0        3.0             6
4.0        5.0             8
5.0        6.0            10
6.0        8.0            12
7.0        7.0            14
9.0        4.0             6

- En generale : beds = bedrooms. En prend le cas bedrooms = 0 à part

In [18]:
def fill_beds(row):
    if row['bedrooms'] == 0.:
        return 1
    else: 
        return row['bedrooms']

In [19]:
listings['beds'] = listings.apply(lambda row : fill_beds(row) if np.isnan(row['beds']) else row['beds'], axis=1 )

## Attribut : bathrooms

In [20]:
listings[listings.bathrooms.isna()]['bedrooms'].value_counts()

1.0    41
2.0     6
3.0     1
Name: bedrooms, dtype: int64

- C'est essentiellement des données avec bedrooms = 1

In [21]:
listings[~listings.bathrooms.isna()].groupby('bedrooms')['bathrooms'].median()

bedrooms
0.0    1.0
1.0    1.0
2.0    1.0
3.0    2.0
4.0    2.0
5.0    3.0
6.0    3.5
7.0    6.0
9.0    2.0
Name: bathrooms, dtype: float64

- pour bedrooms = 1,2 ou 3 on peut remplacer bathrooms par 1

In [22]:
listings['bathrooms'] = listings['bathrooms'].map(lambda x: 1 if np.isnan(x) else x)

## Attribut : host_is_superhost, is_location_exact & instant_bookable

In [23]:
# !! pour host_is_superhost, les valleurs manquantes sont rempalcées par 0
listings['host_is_superhost'] = listings['host_is_superhost'].map(lambda x: 1 if x=='t' else 0)
listings['is_location_exact'] = listings['is_location_exact'].map(lambda x: 1 if x=='t' else 0)
listings['instant_bookable']  = listings['instant_bookable'].map(lambda x: 1 if x=='t' else 0)

## Attribut : calendar_updated

In [24]:
listings['calendar_updated'].value_counts()

2 months ago     8525
today            6239
3 months ago     6201
4 months ago     3254
5 months ago     2218
                 ...
91 months ago       1
80 months ago       1
83 months ago       1
99 months ago       1
81 months ago       1
Name: calendar_updated, Length: 98, dtype: int64

- On va considérer que le prix est mis à jour récement si c'est fait il y a mois de 2 mois

In [25]:
recently = ('today', 'yesterday', 'days', 'week', 'weeks')
def is_recent(x):
    if 'months' in x :
        if int(x.split(' ')[0]) <= 2:
            return 1
    else : 
        for t in recently:
            if t in x :
                return 1
    return 0
listings['price_recently_updated'] = listings['calendar_updated'].map(is_recent)

In [26]:
listings = listings.drop(['calendar_updated', 'calendar_last_scraped'], axis = 1)

## Attribut : cancellation_policy

In [27]:
listings['cancellation_policy'].value_counts()

flexible                       23406
strict_14_with_grace_period    20200
moderate                       16007
super_strict_60                  252
super_strict_30                   67
strict                             3
luxury_super_strict_95             2
luxury_moderate                    1
Name: cancellation_policy, dtype: int64

In [28]:
cancellation_policy_dict = {'flexible':'flexible',
                            'moderate':'moderate',
                            'strict_14_with_grace_period':'strict',
                            'super_strict_60':'strict',
                            'super_strict_30':'strict',
                            'luxury_super_strict_95':'strict',
                            'luxury_moderate':'strict'}
listings['cancellation_policy'] = listings['cancellation_policy'].map(cancellation_policy_dict)

## Attribut : amenities

In [29]:
listings.amenities.sample().iloc[0]

'{Wifi,Kitchen,Elevator,Heating,Washer,"Smoke detector","Carbon monoxide detector",Essentials,Shampoo,Hangers,"Hot water"}'

In [30]:
amenities_set = set(['Essentials', 
                     'Wifi',
                     'TV', 
                     'Kitchen', 
                     'Oven', 
                     'Cooking basics', 
                     'Heating', 
                     'Washer', 
                     'Host greets you', 
                     'Elevator', 
                     'Family/kid friendly', 
                     'Private living room', 
                     'Coffee maker', 
                     'Dishwasher'])

In [31]:
for amenitie in amenities_set:
    listings[amenitie] = listings['amenities'].map(lambda x: 1 if amenitie in x else 0)

In [32]:
listings = listings.drop('amenities', axis=1)

## Attribut : host_verifications

In [33]:
listings['host_verifications'].iloc[1]

"['email', 'phone', 'facebook', 'google', 'reviews', 'jumio', 'government_id']"

- si government_id, on considère que l'identité du host est vérifiée

In [34]:
listings['host_identity_verified'] = listings['host_verifications'].map(lambda x : 1 if 'government_id' in x else 0)
listings = listings.drop('host_verifications', axis=1)

# 4 - Train & Test Data

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X = listings.drop('price', axis=1) 
y = listings['price']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [37]:
X_train.shape

(40159, 34)

In [38]:
X_test.shape

(19780, 34)

In [39]:
train_data = X_train.copy()
train_data['price'] = y_train

In [40]:
test_data = X_test.copy()
test_data['price'] = y_test

In [41]:
#train_data.to_csv('../input/dataset/airbnb_052020_train.csv')

In [42]:
#test_data.to_csv('../input/dataset/airbnb_052020_test.csv')